@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}


.caixa1 {
    background-color: gray;
    grid-row: 1 / 2;
    grid-column: 1 / 5;

    grid-area: 1 / 1 / span 1 / span 4;
}

.caixa2 {
    background-color: aliceblue;
    grid-row: 2 / 4;
    grid-column: 1 / 3;

    grid-area: 2 / 1 / span 3 / span 2;
}

.caixa3 {
    background-color: aqua;
    grid-row: 2 / 4;
    grid-column: 3 / 5;

    grid-area: 2 / 3 / 4 / 5;
}