@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #e3e3e1;
}

header {
    background-color: #818382;
    color: white;
    padding: 10px;
    padding-bottom: 10px;
    
    display: flex;
    align-items: center;
    flex-flow: row wrap;

    justify-content: space-between;
}

header > h1 {
    margin-right: 150px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.822);
    flex: none;
}

div#container > a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 6px;
    margin: 4px;
    flex: none;
}

div#container > a:hover {
    background-color: white;
    color: black;
}

div#container {
    padding: 10px;
}

section {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}

@media screen and (max-width: 600px) {
    header {
        flex-flow: column nowrap;
        justify-content: flex-start;
    }

    header > h1 {
        margin: 0;
        padding-bottom: 20px;
    }

    div#container {
        padding-top: 10px;
        padding: 0px;

        display: flex;
        flex-flow: column nowrap;
    }

    div#container > a {
        text-align: center;
        width: 90vw;
        flex: 1 1 auto;
    }
}