@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

div.container {
    background-color: gray;
    display: grid;
    grid-template: repeat(10, 70px) / repeat(5, 1fr);
}

.topo {
    border: 1px dashed white;
    text-align: center;
    grid-area: 1 / 1 / 3 / 6;
}

.menu {
    border: 1px dashed rgb(219, 43, 43);
    text-align: center;
    grid-area: 3 / 1 / 4 / -1;
}

.principal {
    border: 1px dashed rgb(15, 255, 15);
    text-align: center;
    grid-area: 4 / 1 / -2 / -2;
}

.secundario {
    border: 1px dashed blue;
    text-align: center;
    grid-area: 4 / -2 / -2 / -1;
}

.rodape {
    border: 1px dashed purple;
    text-align: center;
    grid-area: -2 / 1 / -1 / -1;
}